<%= form_tag ({controller: 'users', action: 'create', method: 'post'}) do %>
  <input name=name>
  <input name=password>
  <label>How are you feeling on a ?</label>
  <input name=nausea> 
  <input name=happiness> 
  <input name=tickets> 
  <input name=height> 
  <input type=submit value='signup'>
<% end %>